* {
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right, darkblue, blue);
  padding: 10px;
  position: sticky;
  top: 0;
  height: auto;
}

a {
  text-decoration: none;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.menu {
  justify-content: end;
}

.nav__link {
  color: aliceblue;
}

main {
  background: rgb(246, 246, 255);
  padding: 5rem;
}

img {
  max-width: 100%;
}

.plantel {
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.plantel img {
  width: 100%;
  border-color: black;
}

.plantel a {
  text-decoration: none;
  text-align: center;
  font-size: larger;
}

footer {
  background: linear-gradient(to right, darkblue, blue);
  padding-top: 1rem;
  height: 4rem;
}

.footer-sm {
  color: aliceblue;
}

.footer-sm__icons {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer-sm__sponsor {
  text-align: center;
  padding-top: 1.5rem;
}

.footer-sm a i {
  font-size: 2rem;
  color: aliceblue;
}
