.image {
  position: relative;
}

.image {
  display: block;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 500ms ease-out;
  object-fit: cover;
}

.image__overlay ul {
  text-align: start;
  list-style: none;
}

.image__overlay--blur {
  backdrop-filter: blur(2px);
}

.image__overlay:hover {
  opacity: 1;
  transform: scale(1.05);
}

.image__title {
  text-decoration: underline;
}

.cont-img {
  overflow: hidden;
}

img {
  max-width: 100%;
  transition: 0.5s;
  object-fit: cover;
  &:hover {
    transform: scale(1.02);
  }
}
